* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
